body{
    background-color: black;
}
.btns button{
    background-color: #ff9705;
    width: 130px;
    height: 30px;
    font-size: 17px;
    color: black;
    font-weight: 500;

}
.btns span{
    font-size: 20px;
    font-weight: bold;
    margin-left: 4px;
    font-size:20px;
}