body{
    background-color: black;
}
.perspective {
  perspective: 1000px;
}

.transform {
  transform-style: preserve-3d;
  position: relative;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
.navbar{
    z-index:999;
}
.pt-navbar {
    padding-top:60px
  }
